<!DOCTYPE html>
<html lang="en" th:replace="~{base:: parent(~{::#content} ,~{::title} , ~{:: script})}">
<head>
    <title>About</title>
</head>
<body>
    <div id="content">

      
    <h1>welcome to about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Maiores ducimus alias error magnam quis nulla neque blanditiis non. Eveniet corrupti tempore ipsum odit non tempora asperiores qui cumque reiciendis natus!</p>
         <p>Lorem ipsum, dolor sit amet contiis quo dignissimos Lorem ipsum  suscipit assumenda
             voluptatem tempora harum eius itaque corporis et voluptatum minima recusandae.

             <div>
                <a data-th-href="@{'/aboutus'}" type="button" class="text-white  hover:bg-blue-800 focus:ring-4 focus:outline-none
                 
                 dark:hover:bg-blue-700">About Us</a>
             </div>
        </div>
        
        
        <script>
            console.log("welcome to about script");
        </script>
</body>
</html> 