<!DOCTYPE html>
<html lang="en" th:replace="~{base:: parent(~{:: #content} , ~{::title} , ~{:: script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body >
      <div id="content"> 
        <h1>This is About Us page </h1>
      </div>
   
    <script>
        console.log("hello");
    </script>
    <!-- flowbite content -->
     


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script> 
</body>
</html>